/* common part and utilities  */
body {

    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

header {
    display: flex;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);
    ;

}

main,
.futter {
    display: flex;
    justify-content: center;

}

.container {

    width: 870px;
    padding: 30px;
}

/* thisheader part styles */
.Menu_ber {
    border-radius: 5px;

}

.Menu-title {

    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #131313;
    margin-top: 47px;

}

.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px 200px;

}

.nav ul {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.nav ul li {
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #424242;
}

.banners {
    margin-top: 105px;
}

.banner-title {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    color: #131313;
    margin: 0px;
    padding: 0px;

}

.article_info {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.primary_button {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 25px;
    background-color:
        #FF900E;
    border-radius: 10px;
    border: 0px;
    margin-left: 400px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.banner_img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1000px;
    border-radius: 8px;

    margin-right: 240px;
}

/* main part style start */
/* top_teamemate and blogs style */
.top-teammate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 73px;
    ;


    justify-content: space-evenly;

}

.teammates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.primary_button1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 25px;
    background-color:
        #FF900E;
    border-radius: 10px;
    border: 0px;

}

.tramate img {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.teammate_blogs_title {
    font-weight: 500;
    font-size: 45px;


    color: #727272;
}

span {
    color: #FF900E;
}

.c1 {
    color: #131313;
}

.teammate_blogs_discription {

    font-weight: 400;
    font-size: 16px;

    color: #727272;
    margin-top: 0px;
    margin-bottom: 32px;

}

/* this is main part artical section style */
.artical {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 130px;

}

.articals_blogs {
    width: 586px;
    margin: 0px;
    padding: 0px;

}

.articals_blogs_title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.articals_blogs_1 {
    margin: 0px;
    padding: 0px;
}

.articals_blogs_2 {
    margin: 0px;
    padding: 0px;
}

.articals_blogs_title {
    margin: 0px 0px 24px 0px;
    padding: 0px;
}

.articals_blogs_part {
    margin: 0px;
    padding: 0px;
}

.articals_blog {
    width: 400px;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px 5px #fdf7f4;
    margin: 0px;
    border-radius: 10px;
}

.articals_blogs_sub {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin: 4px;
}

.articals_blog_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


.articals_img {
    width: 800px;
    height: 1059px;


}

/*
 css style customer help part start  */
.customer_help {}

.customer_help_title {
    font-weight: 700;
    font-size: 45px;

    color: #131313;
    margin: 24px;
}

.customer_help_info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.help_parts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 45px 36px;
}

.help_part_img {
    align-items: center;
    width: 45.22px;
    height: 45.22px;
    padding: 45px 97px 10px 97px;
}

.part_num {

    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #424242;
    margin: 5px;
}

.part_name {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: 5px;
}

/* sponser part style */
.sponser_info {}

.sponser_title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponser_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponser_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    padding: 10px;

}

/* futter part */
.futter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 240px;
    margin-top: 130px;

}

.line {

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
    ;
}

/* Extra designe part */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);
}

.extra {
    position: absolute;
    width: 5px;
    height: 106px;
    left: 80px;
    top: 2120px;

    background: #FF900E;
}

/* media quary part */

@media only screen and (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;


    }

    .container {

        width: 300px;
        padding: 20px;
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;


    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }

    .nav ul {
        display: flex;
        align-items: center;
        margin-top: 7px;
    }

    .nav ul li {
        list-style: none;
        margin-left: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #424242;
    }

    .banners {
        margin-top: 50px;
    }

    .banner-title {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        font-weight: 100;
        font-size: 24px;
        text-align: center;
        color: #131313;
        margin: 0px;
        padding: 0px;

    }

    .article_info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #727272;
    }

    .primary_button {
        display: grid;
        padding: 15px 20px;
        border: 0px;
        margin-left: 100px;
    }



    .banner_img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
        margin-left: 20px;
    }

    .top-teammate {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .teammates {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .tramate img {
        width: 342px;
        height: 342px;
        border-radius: 8px;
    }

    .artical {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }

    .articals_blogs {
        justify-content: center;
        width: 200px;
        margin: 0px;
        padding: 0px;
        margin-left: 20px;

    }

    .articals_blogs_title {
        font-weight: 500;
        font-size: 45px;
        color: #131313;
    }

    .articals_blog {
        width: 200px;
    }

    .articals_blogs_sub {
        font-weight: 400;
        font-size: 14px;

    }

    .articals_blog_description {
        font-size: 14px;

    }

    .articals_img {
        justify-content: center;
        width: 300px;
        height: 1059px;
        overflow-x: scroll;
        border-radius: 8px;


    }


    /*
 css style customer help part start  */

    .customer_help_title {
        font-weight: 500;
        font-size: 24px;
        margin: 15px;
    }

    .customer_help_info {
        font-weight: 300;
        font-size: 14px;
    }

    .help_parts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }



    .sponser_title {
        font-weight: 500;
        font-size: 24px;
        color: #131313;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sponser_description {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #727272;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .sponser_card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }


    /* futter part */
    .futter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        background: #FFF4E7;
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 130px;

    }

    .line {

        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #424242;
        ;
    }

    .extra {
        position: absolute;
        width: 5px;
        height: 90px;
        left: 40px;
        top: 2750px;

        background: #FF900E;
    }




    main,
    .futter {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;


    }
}